body{
    width:80%;
    margin: 0 auto;
    background-color: rgb(112, 237, 237);
}
p{
    text-align: justify;
}
h1{
    color: darkgreen;
}
h1, h2{
    text-align: center;
}
article{
    width:30%;
    display:inline-block;
    
    padding:10px ;
    vertical-align: top;
    /*height: 300px;*/
    background: rgb(137, 234, 206);
    border: 2px solid darkgreen;
}
section{
    text-align: center;
}
nav{
    text-align: center;
}
.middle{
    margin-left:13px;
    margin-right:13px;
}
span{
    font-weight: bold;
}
img{
    max-width:100%;
    height: auto;
    }
@media screen and (max-width: 800px){
    article{
        width: 100%;
    }
}
iframe{
    align-content: center;
    size: 200%;
}